.title{
  font-style: normal;
font-weight: 700;
font-size: 60px;
}

.sub-title{
  font-style: normal;
font-weight: 400;
font-size: 24px;
}

.card-title{
  font-weight: 600;
font-size: 24px;
}

.card-text{
  font-style: normal;
font-weight: 400;
font-size: 14px;
}

.tren-title{
  font-size: 20px;
}


@media (max-width: 768px) {
  .tren-card{
    margin-left: 50px;
    gap: 30px;
  }

}

@media (max-width: 576px){
  .event-section {
    flex-direction: column;
    height: 800px
  }
  .tren-card{
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }
}
