.card-tim {
  transition: all 0.3s ease-in-out;
}

.card-tim:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.clr-txt-primary {
  color: #3a5088;
}

.clr-txt-second {
  color: #222222;
}

.baner-hero {
  margin: 0px;
}
.baner-hero img {
  margin-right: -85px;
}
@media (max-width: 768px) {
  .baner-hero {
    margin: 25px;
  }
}
