@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 16px 150px;
  background: #fafafb;
  box-shadow: 0px 4px 30px rgba(221, 221, 233, 0.45);
}

.navbar-nav {
  margin-left: 20%;
}

.btn-primary {
  background: #3a5088;
  border-color: #3a5088;
  border-radius: 10px;
  padding: 12px 25px;
  margin-left: 20%;
}

.our-client {
  background: #c8d4e4;
}

.image-client {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.footer {
  color: #3a5088;
}

.footer-content {
  text-align: center;
  text-decoration: none !important;
}

.btn-flag img {
  height: 20px;
  margin: 10px;
}

.btn-flag .active {
  background: #ffffff !important;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media (max-width: 768px) {
  .image-client {
    flex-direction: column;
  }
}
